# IDE
*.iml
.idea/

# Ignore VS Code workspace files except shared project settings
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
vendor/

# Local application files
*.db
*.db-shm
*.db-wal
gatus

# Environment files
.env
.env.*

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
.terraform.tfstate.lock.info

# Terraform crash logs
crash.log
crash.*.log